{% extends 'base.html' %}

{% block title %}

    GitHub Evaluator

{% endblock %}


{% block content %}

    <div class="container">
        <h1> Here we go (group version)! </h1>
        <h2> For single evaluation <a href="{% url 'homepage' %}"> Click Here! </a> </h2>

        <div class="container g-3 py-3">
            <form action="{% url 'create-csv' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="github_user">Faça o upload de um csv que contenha a coluna github_username:</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary ">Avaliar!</button>
            </form>   
        </div>
        {{erro}}
        
    </div>
    

{% endblock %}