{% extends 'base.html' %}

{% block title %}

    GitHub Evaluator

{% endblock %}


{% block content %}

    <div class="container">
        <h1> Here we go! </h1>
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="github_user">GitHub Username:</label>
                    <input type="text" class="form-control" id="github_user" name="github_user" placeholder="Escreva aqui o seu username do GitHub." required>
                </div>
                
                <button type="submit" class="btn btn-primary ">Avaliar!</button>
                
            </form>   
        </div>   
        {% if table %}
            <div class="container g-3 py-3">
                <table class="table table-striped table-dark g-3 py-3">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
    </div>
    

{% endblock %}